/06. Databases/lib/__pycache__
/07. API/env
/08. MediaDownloader/env
/08. MediaDownloader/lib/__pycache__
/11. TelePayBot OOP/env
/11. TelePayBot OOP/lib/__pycache__
/10. TelePyBot/.vscode
/10. TelePyBot/env